learning_users/db.sqlite3
learning_users/manage.py
learning_users/basic_app/__init__.py
learning_users/basic_app/admin.py
learning_users/basic_app/apps.py
learning_users/basic_app/forms.py
learning_users/basic_app/models.py
learning_users/basic_app/tests.py
learning_users/basic_app/urls.py
learning_users/basic_app/views.py
learning_users/basic_app/__pycache__/__init__.cpython-35.pyc
learning_users/basic_app/__pycache__/__init__.cpython-312.pyc
learning_users/basic_app/__pycache__/admin.cpython-35.pyc
learning_users/basic_app/__pycache__/apps.cpython-312.pyc
learning_users/basic_app/__pycache__/forms.cpython-35.pyc
learning_users/basic_app/__pycache__/models.cpython-35.pyc
learning_users/basic_app/__pycache__/models.cpython-312.pyc
learning_users/basic_app/__pycache__/urls.cpython-35.pyc
learning_users/basic_app/__pycache__/views.cpython-35.pyc
learning_users/basic_app/migrations/__init__.py
learning_users/basic_app/migrations/0001_initial.py
learning_users/basic_app/migrations/0002_auto_20170307_0415.py
learning_users/basic_app/migrations/0003_auto_20170307_0633.py
learning_users/basic_app/migrations/0004_auto_20170307_0647.py
learning_users/basic_app/migrations/0005_auto_20170307_0657.py
learning_users/basic_app/migrations/__pycache__/__init__.cpython-35.pyc
learning_users/basic_app/migrations/__pycache__/0001_initial.cpython-35.pyc
learning_users/basic_app/migrations/__pycache__/0002_auto_20170307_0415.cpython-35.pyc
learning_users/basic_app/migrations/__pycache__/0003_auto_20170307_0633.cpython-35.pyc
learning_users/basic_app/migrations/__pycache__/0004_auto_20170307_0647.cpython-35.pyc
learning_users/basic_app/migrations/__pycache__/0005_auto_20170307_0657.cpython-35.pyc
learning_users/learning_users/__init__.py
learning_users/learning_users/settings.py
learning_users/learning_users/urls.py
learning_users/learning_users/wsgi.py
learning_users/learning_users/__pycache__/__init__.cpython-35.pyc
learning_users/learning_users/__pycache__/__init__.cpython-312.pyc
learning_users/learning_users/__pycache__/settings.cpython-35.pyc
learning_users/learning_users/__pycache__/settings.cpython-312.pyc
learning_users/learning_users/__pycache__/urls.cpython-35.pyc
learning_users/learning_users/__pycache__/urls.cpython-312.pyc
learning_users/learning_users/__pycache__/wsgi.cpython-35.pyc
learning_users/templates/basic_app/base.html
learning_users/templates/basic_app/index.html
learning_users/templates/basic_app/login.html
learning_users/templates/basic_app/registration.html
